*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 63%;
}
body{
    background: hsl(0, 0%, 98%);
    font-family: Nunito Sans;
}

nav{
    background: white;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);
    padding: 2em 5em;
    color: hsl(200, 15%, 8%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.dark, body.dark .search, body.dark select{
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    box-shadow: 3px 3px 5px hsl(200, 15%, 8%);
}

.dark .search i, .dark .search input{
    color: white;
}

h1{
    font-size: 2em;
}
.Dark{
    font-size: 1.4em;
    font-weight: 8em;
    font-family: Nunito Sans;
    border: none;
    background: transparent;
    height: 2.5em;
    width: 8em;
}
body.dark.Dark{
    color: hsl(0, 0%, 100%);
}
.container{
    padding: 5em;
}
.search input{
    border: none;
    background: transparent;
    font-weight: 600;
    font-family: Nunito Sans;
    font-size: 1.5em;
    color: hsl(0, 0%, 52%);
    padding: 1em;
    width: 100%;
    height: 100%;
    outline: none;
}
.search{
    width: 35em;
    height: 5em;
    display: flex;
    align-items: center;
    padding: 1em;
    background: white;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);
}
.searchicon{
    height: 100%;
    width: 3em;
    text-align: center;
    align-self: center;
    align-items: center;
    display: flex;
    color: hsl(0, 0%, 52%);
    display: flex;
    justify-content: center;
    font-size: 2em;
}
select{
    padding: 1em .5em;
    background: white;
    border: none;
    outline: none;
    border-radius: .2em;
    font-size: 1.5em;
    font-family: Nunito Sans;
    font-weight: 300;
    color: hsl(200, 15%, 8%);
    width: 13em;
    height: 3.2em;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);
    
}
select option{
    padding: 2em;
    border: 1px solid red;
}
.searcharea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}